

.container {
    margin-top: 50px;
    outline: solid rosybrown;
    margin-left: auto;
    margin-right: auto;



    @media screen and (max-width: 767px) {
        max-width: 480px;
        padding-left: 20px;
        padding-right: 20px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }

    @media screen and (min-width: 1280px) {
        width: 1280px;
        padding-left: 16px;
        padding-right: 16px;
    }


}

.order {

    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 768px) {
        margin-left: 30px;
    }

    &__button {


        background-color: rgba(187, 243, 48, 1);
        border-radius: 30px;
        border: none;
        padding: 6px 18px;

        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 1.5;
        color: rgba(44, 44, 44, 1);


    }

    &__backdrop {
        @media screen and (max-width: 767px) {
            display: none;
        }

        @media screen and (min-width: 768px) {

            position: fixed;
            z-index: 6;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(94, 99, 99, 0.7);
            overflow-y: scroll;

            &.is-hidden {
                opacity: 0;
                pointer-events: none;
            }


        }
    }

    &__modal {
        @media screen and (min-width: 768px) {
            position: absolute;
            z-index: 7;
            top: 50%;
            left: 50%;
            transform: scale(1) translate(-50%, -50%);
            width: 458px;
            height: 449px;
            background-color: rgba(255, 229, 80, 1);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
            border-radius: 30px;
        }
    }

    &__btn-x {

        @media screen and (min-width: 768px) {

            position: absolute;
            z-index: 8;
            right: 8px;
            top: 8px;
            width: 32x;
            height: 32px;
            padding: 4px;
            border-radius: 50%;
            border: none;
            background-color: rgba(255, 255, 255, 1);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
        }
    }
}
