.sections-three {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width:768px){
    padding-top: 100px;
    padding-bottom: 100px;
    }
}

.favorites-title {
    font-size: 42px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 20px;
    @media screen and (max-width:767px) {
    font-size: 28px;
    line-height: 1.17;
    }
}

.favorites-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 40px;
    @media screen and (max-width:767px) {
    font-size: 14px;
    line-height: 1.14;
    }
}

.favorites {
display: flex;
flex-wrap: wrap;
justify-content: center;
list-style: none;
text-decoration: none;
row-gap: 20px;
@media screen and (min-width:768px) {
gap: 32px;}


    &__img {
    width: 100%;
    max-width: 280px;

    background: #FFFFFF;
    border: 11px solid $color-circle;
    padding: 29px 28px;

    border-radius: 100%;
    animation-name: rotations;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

@media screen and (min-width:768px) {
max-width: 336px;
border: 14px solid $color-circle;
padding: 35px 34px;}

@media screen  and (min-width:1280px) {
max-width: 394px;
border: 16px solid $color-circle;
padding: 41px 40px;
}}

 &__img:hover,
 &__img:focus {
 border: 11px solid $default-button-color;
 @media screen and (min-width:768px) {
 border: 14px solid $default-button-color;
 }
 @media screen and (min-width:1280px) {  
border: 16px solid $default-button-color;
 }}}


.favorites__img-hidden {
@media screen and (max-width:767px) {
display: none;}
}

@keyframes rotations {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.favorites__link:focus{
    background-color: aqua;
}