

@keyframes rotations {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

// .sections {
//     text-decoration: none;
// }

.favorites-title {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 1.16;
        text-align: center;
}

.favorites-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.favorites__img {
display: flex;
background: #FEFEFE;
border: 16px solid #FFE550;
border-radius: 197px;
padding: 41px 40px;
animation-name: rotations;
animation-duration: 10s;
animation-iteration-count: infinite;
animation-timing-function: linear;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.favorites__img:hover,
.favorites__img:focus {
border:16px solid #BBF330;
}

.favorites {
    display: block;
    gap: 32px;
    list-style: none;
}
