.footer{
    background-image: url(../images/footer.jpeg);
    background-position: bottom;
    background-repeat: no-repeat;
    height: 395px;
}

.logo__contain{
    @media screen and (min-width: 1200px){
    display: flex;
    padding-top: 100px;
    margin-bottom: 129px;
    justify-content: space-between;
    
    
}}
.list{
    @media screen and (min-width: 1200px){
    display: flex;
    margin-left: 148px;
   
    &__item{
        font-weight: 400;
font-size: 14px;
line-height: 16px;
color: #2C2C2C;
    }
    &__link{
        list-style: none;
        margin-right: 28px;
        padding-top: 18px;

        &:last-child{
            margin-right: 0;
        }
    }

}}

.footer__subscribe{
    @media screen and (min-width: 1200px){
    font-family: 'Roboto';
    margin-left: 320px;
    &--text{
        margin-bottom: 12px;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 150%;
color: #2C2C2C;
    }
    &--title{
        font-size: 12px;
line-height: 14px;
color: #2C2C2C
    }
    &--item{
        color: #7EB101;
        text-decoration: underline;
    }
    &--btn{
        width: 103px;
height: 42px;
background: #FFFFFF;
border: 0.854167px solid #7EB101;
border-radius: 30px;
margin-top: 33px;
    }
    &--input{
        width: 279px;
        height: 42px;
        border: 0.854167px solid #FFE550;
        border-radius: 30px;
        margin-bottom: 12px;
      
        &::placeholder{
            font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #505050;
    padding: 12px 12px 12px 12px;
    
    align-items: center;
        }
    }
 
}}
.footer__link{
    @media screen and (min-width: 1200px){
    display: flex;
    padding-bottom: 100px;
    justify-content: space-between;
    &--text{
        display: flex;
    }
    &--item{
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        margin-right: 20px;
        &:last-child{
            margin-right: 0;
        }
    }
    &--title{
        text-decoration-line: underline;
        color: #7EB101;
    }
   &--coment{
    font-weight: 400;
font-size: 12px;
line-height: 14px;
color: #2C2C2C;
   }
}}