.hero{
font-size: 14px;
line-height: 1.5;
color: #2C2C2C;
}
.hero__wrap{
    @media screen and (min-width:480px) {
        display: flex;
        justify-content: space-between;
        gap:32px;
    }
}

.hero__content{
    @media screen and (min-width:320px) and (max-width:479px) {
        width: 100%;
    }
    @media screen and (min-width:480px){
        width: 50%;
    }
}
.hero__major-title{
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 18px;
    @media screen and (min-width:480px) {
        font-size: 42px;
        line-height: 1.2;
        width: 70%;
        margin-bottom: 44px;
    }
    }
.hero__text{
    @media screen and (min-width:480px) {
        font-size: 16px;
        line-height: 1.5;
    }
}
.hero__button{
    background-color: #BBF330;
    border-radius: 30px;  
    border: #BBF330;  
    padding: 6px 18px;
    margin-top: 28px;
    
    font-weight: 500;
    font-size: 13px;
    line-height: 1.54;
    text-align: right;
    @media screen and (min-width:480px) {
        margin-top: 40px;
    }
}
.hero__wrap-img{
    background-image: url(./../images/colorbackgroundfigure.png);
    background-size: cover;
    @media screen and (min-width:480px) {
    background-image: url(./../images/herobcg.png);
    padding-top: 150px;
    background-size: 100%;
}
}
.slaider{
    display: none;
    
    @media screen and (min-width:480px) {
        width: 50%;
        margin-top: -50px;
        display: block;
        margin-bottom: -80px;
    }
    img{
        display: block;
        margin: auto;
        min-width: 336px;
        border: solid 10px #BBF330;
        border-radius: 50%;
    }
}
.hero__mobile-pic{
    margin: auto;
    margin-top: 50px;
    display: block;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border:none;
    padding-top: 41px;
    @media screen and (min-width:480px) {
    display: none;
    }
}
.hero__tablet-pic{
    @media screen and (max-width:479px) {
        display: none;
    }
    @media screen and (min-width:480px) {
        width: 100%;
    }
}