.hero {
  padding-top: 60px;

  font-size: 14px;
  line-height: 1.5;
  color: #2c2c2c;

  @media screen and (min-width: 1280px) {
    padding-top: 14px;
  }
}
.hero__wrap {
  @media screen and (min-width: 768px) {
    display: grid;
    column-gap: 32px;
    grid-template-columns: 1fr auto;
  }

  @media screen and (min-width: 1280px) {
    grid-template-rows: 1fr 1fr;
    align-items: flex-end;
    column-gap: 138px;
  }
}

.hero__content {
  @media screen and (min-width: 320px) and (max-width: 479px) {
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    padding-top: 44px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 0;
    align-self: flex-start;
  }
}

.hero__major-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  margin-bottom: 18px;

  @media screen and (min-width: 480px) {
    font-size: 42px;
    line-height: 1.2;
  }

  @media screen and (min-width: 768px) {
    grid-column: span 2;
    margin-bottom: -11px;
    max-width: 537px;
  }

  @media screen and (min-width: 1280px) {
    grid-column: 1;
    margin-bottom: 28px;
  }
}
.hero__text {
  @media screen and (min-width: 480px) {
    font-size: 16px;
    line-height: 1.5;
  }
}
.hero__button {
  background-color: #bbf330;
  border-radius: 30px;
  border: #bbf330;
  padding: 6px 18px;
  margin-top: 28px;

  font-weight: 500;
  font-size: 13px;
  line-height: 1.54;
  text-align: right;
  @media screen and (min-width: 480px) {
    margin-top: 40px;
  }
}


.hero__slider {
  margin: 0 8px;

  @media screen and (min-width: 1280px) {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    margin: 0 14px;
  }
}


