.offerings {
    
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
    min-width: 320px;
    width: 100%;
    
    font-weight: 400;
    font-size: 14px;
    line-height: 1,14;
    color: #2C2C2C;

    background-image: url(../images/offerings-bcgM1x.png);
    background-repeat: no-repeat;
    background-size: cover;


        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                .offerings {
                    background-image: url(../images/offerings-bcgM2x.png);
                }
            }

                @media screen and (max-width: 767px) {
                    max-width: 480px;
                }
        
            @media screen and(min-width:768px) {
                background-image: url(../images/offerings-bcgT1x.png);
                background-size: cover;
                
                font-size: 16px;
                line-height: 1,19;

                width: 768px;
                padding-left: 32px;
                padding-right: 32px;
                padding-bottom: 100px;

                margin-top: -120px;
        
                @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    .offerings {
                        background-image: url(../images/offerings-bcgT2x.png);
                    }
                }
            }
        
            @media screen and(min-width:1280px) {
                background-image: url(../images/offerings-bcgD1x.png);
                background-size: contain;
                line-height: 1,5;
                
                width: 1280px;
                padding-left: 16px;
                padding-right: 16px;
                padding-bottom: 43px;
                margin-top: -140px;
        
                @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    .offerings {
                        background-image: url(../images/offerings-bcgD2x.png);
                    }
                }
        
            }                       
}

.offerings-cover {
    @media screen and(min-width:1280px) {
            display: flex;           
    }
}

.offerings-images {
    @media screen and(min-width:768px) {
        padding-top: 132px;
    }

    @media screen and(min-width:1280px) {
    width: calc((100% - 90px) / 2);
    margin-right: 90px;
    }
}

.offerings__desctopImg {
  display: none;
        
    @media screen and(min-width:1280px) {
        display: block;
    }
}

.offerings__tabletImg {
    display: none;
    @media screen and(min-width:768px)  {
        display: block;
        height: auto; 
    }
        @media screen and(min-width:1280px) {
            display: none;
        }
}

.offerings__mobileImg {
    height: auto;
    @media screen and(min-width:768px) {
        display: none;
        
    }
}

.offerings-content {
    @media screen and(min-width:1280px) {
            width: calc((100% - 90px) / 2);
            margin-top: 260px;
        }
}

.offerings-special {

    @media screen and(min-width:768px) {
        max-width: 526px;
    }

    @media screen and(min-width:1280px) {
    display: inline-block;
    margin-bottom: 40px;
    }
}

.offerings-special__title {
margin-top: 60px;

    font-weight: 700;
    font-size: 28px;
    line-height: 1,17;

    @media screen and(min-width:768px) {
        font-size: 42px;
        line-height: 1,17;
    }

     @media screen and(min-width:1280px) {
        margin-top: 0;
        font-size: 42px;
        line-height: 1,19;
    }
}

.offerings-special__text {
    margin-top: 28px;

    @media screen and(min-width:768px) {
        margin-top: 20px;
    }
}

.offerings-secondaryCover {
    @media screen and(min-width:768px) {
        display: flex;
    } 

}

.offerings-deliver {
    margin-top: 28px;

    @media screen and(min-width:768px) {
        max-width: 253px;
        margin-right: 116px;

    }

    @media screen and(min-width:1280px) {
            margin-right: 67px;
    }
}

.offerings-deliver__circle {
    display: flex;
        justify-content: center;
        align-items: center;

    width: 48px;
    height: 48px;
  background: #FEFEFE;
  border-radius: 50%;
  margin-bottom: 8px;
}

.offerings-deliver__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 1,17;
    margin-bottom: 16px;
}

.offerings-order {
    margin-top: 28px;

    @media screen and(min-width:768px) {
            max-width: 253px;
            margin-right: 116px;
        }

        @media screen and(min-width:1280px) {
            margin-right: 67px;
        }
}

.offerings-order__circle {
    display: flex;
        justify-content: center;
        align-items: center;
        
    width: 48px;
    height: 48px;
    background: #FEFEFE;
    border-radius: 50%;
    margin-bottom: 8px;
}

.offerings-order__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 1, 17;
    margin-bottom: 16px;
}

.offerings-btns {
    display: flex;
    align-items: baseline;
}

.offerings-btns__link {
    color: #2C2C2C;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,4;
    text-decoration: none;
    list-style: none;
    margin-left: 24px;
    display: flex;
    align-items: flex-start;

    @media screen and(min-width:1280px) {
        display: none;
    }

    &:hover, 
    &:focus,
    &:active {
        color: #7EB101;
    }
}

.offerings-btns__link:hover .offerings-btns__icone {
    fill: #7EB101;
}

.offerings-btns__link:focus .offerings-btns__icone {
    fill: #7EB101;
}

.offerings-btns__link:active .offerings-btns__icone {
    fill: #7EB101;
}

.offerings-btns__icone {
    margin-left: 4px;
    fill: #2C2C2C;
}

