//:root {
//	--text-color:  			 #2C2C2C;
//	--default-button-color:	 #BBF330;
//	--hover-button-color:  	 #7EB101;
//	--main-background-color: #F5F4FA;
//  }

$text-color: #2c2c2c;
$default-button-color: #bbf330;
$hover-button-color: #b5ff00;
$main-background-color: #f5f4fa;
$color-circle: #ffe550;
$color-warning: #ff705d;
$hover-button-color-secondary: #7eb101;

* {
  text-decoration: none;
  outline: 0;
  margin: 0;
}

ul,
h2,
h3,
p,
div {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
  border-radius: 30px;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;

        &:focus {
            border: solid 3px green;
          }
}

body,
footer,
header,
main,
textarea {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

.container {
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 320px;

  @media screen and (max-width: 767px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.card-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 280px;
  height: 247px;
  background-color: #fefefe;
  border-radius: 30px;
  border-top-left-radius: 0;

  @media screen and (min-width: 768px) {
    width: 336px;
    height: 244px;
  }

  @media screen and (min-width: 1280px) {
    border-radius: 0px 30px 30px 30px;
    width: 500px;
    height: 227px;
  }
}
