<main>
    <hero>
        <div class="container">
            <div class="order">
                <button class="order__button" type="button" data-menu-open>Order Now</button>
            </div>

            <div class="order__backdrop is-hidden" data-menu>
                <div class="order__modal">
                    <button type="button" class="order__btn-x" data-menu-close>
                        <img src="images/close.svg" alt="Close-menu">
                    </button>
                    <h2 class="order__title">Order Form</h2>
                    <form class="order__form">
                        <label> Name
                            <input type="text" name="Name" placeholder="Your name">
                        </label>
                        <label> Phone number
                            <input type="tel" name="Phone number" placeholder="+38(0_ _) _ _ _   _ _   _ _">
                        </label>
                        <label> E-mail
                            <input type="email" name="E-mail" placeholder="example@gmail.com">
                        </label>
                        <button class="order__btn-send">Send</button>
                    </form>
                </div>
            </div>

            
        </div>
    </hero>
</main>