<main>
    <hero>
        <div class="container">
            <div class="order">
                <button class="order__button" type="button" data-menu-open>Order Now</button>
            </div>

            <div class="order__backdrop is-hidden" data-menu>
                <div class="order__modal">
                    <button type="button" class="order__btn-x" data-menu-close>
                        <img src="images/close.svg" alt="Close-menu">
                    </button>
                    <form>
                        <input type="text">
                    </form>
                </div>
            </div>

            
        </div>
    </hero>
</main>