<main>
    <hero>
        <div class="container">
            <div class="order">
                <button class="order__button" type="button" data-menu-open>Order Now</button>
            </div>

            <div class="order__backdrop is-hidden" data-menu>
                <div class="order__modal">
                    <button type="button" class="order__btn-x" data-menu-close>
                        <img src="images/close.svg" alt="Close-menu">
                    </button>
                    <h2 class="order__title">Order Form</h2>
                    <form class="order__form">
                        <label class="order__form-set"> Name
                            <input class="order__input" type="text" name="Name" placeholder="Your name" required autofocus>
                        </label>
                        <label class="order__form-set"> Phone number
                            <input class="order__input" type="tel" name="Phone_number" placeholder="+38(0_ _) _ _ _   _ _   _ _" required>
                        </label>
                        <label class="order__form-set"> E-mail
                            <input class="order__input" type="email" name="E-mail" placeholder="example@gmail.com" required>
                        </label>
                        <button type="submit" class="order__btn-send">Send</button>
                    </form>
                </div>
            </div>

        </div>
    </hero>
</main>