<section id="customers" class="customers">
  <div class="container">
    <h2
      class="customers__title"
      data-aos="fade-left"
      data-aos-duration="750"
      data-aos-once="true"
    >
      What our Customers Say
    </h2>
    <p
      class="customers__info"
      data-aos="fade-left"
      data-aos-duration="750"
      data-aos-once="true"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>

    <ul class="customers__list">
      <li class="customers__item _anim-items _anim-not-hide">
        <div class="review">
          <div class="review__rating-icon-thumb _anim-items _anim-not-hide">
            <svg class="review__rating-icon" width="17" height="16">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg class="review__rating-icon" width="17" height="16">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg class="review__rating-icon" width="17" height="16">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg class="review__rating-icon" width="17" height="16">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg class="review__rating-icon" width="17" height="16">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
          </div>

          <p class="review__comment">
            &#8220;The Best app I have used to order food in a while, so many
            options to choose from too, I would recommend to a freind, No
            questions asked&#8221;
          </p>
          <div class="review__user-thumb">
            <img
              class="review__user-icon"
              srcset="
                ./images/customers/customers-user-1-1x.png 1x,
                ./images/customers/customers-user-1-2x.png 2x
              "
              src="./images/customers/customers-user-1-1x.png"
              loading="lazy"
            />

            <div class="review__user-meta">
              <h3 class="review__user-name">Sumith Shah</h3>
              <p class="review__user-info">Some Dude</p>
            </div>
          </div>
        </div>
      </li>

      <li class="customers__item _anim-items _anim-not-hide">
        <div class="review">
          <div class="review__rating-icon-thumb _anim-items _anim-not-hide">
            <svg class="review__rating-icon" width="17" height="16">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg class="review__rating-icon" width="17" height="16">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg class="review__rating-icon" width="17" height="16">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg class="review__rating-icon" width="17" height="16">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg class="review__rating-icon" width="17" height="16">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
          </div>

          <p class="review__comment">
            &#8220;The ease with which I can just go in and order what i want
            was amazing, It has been a very pleasant experience ordering from
            this app&#8221;
          </p>
          <div class="review__user-thumb">
            <img
              class="review__user-icon"
              srcset="
                ./images/customers/customers-user-2-1x.png 1x,
                ./images/customers/customers-user-2-2x.png 2x
              "
              src="./images/customers/customers-user-2-1x.png"
              loading="lazy"
            />

            <div class="review__user-meta">
              <h3 class="review__user-name">Sumith Shah</h3>
              <p class="review__user-info">Some Dude</p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
