<section id="favorites" class="favorites-sections">
  <div class="container">
    <h2
      class="favorites-sections__title"
      data-aos="zoom-in-down"
      data-aos-duration="550"
      data-aos-once="true"
    >
      Some of Our Favorites
    </h2>
    <p
      class="favorites-sections__text"
      data-aos="zoom-in-up"
      data-aos-duration="550"
      data-aos-once="true"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit
    </p>
    <ul class="favorites">
      <li
        data-aos="fade-up"
        data-aos-delay="250"
        data-aos-duration="550"
        data-aos-once="true"
      >
        <div class="favorites__card">
          <a href="" class="favorites__link">
            <picture>
              <source
                srcset="
                  ./images/favorites/desk-1x/gamburger-desk-1x.jpg 1x,
                  ./images/favorites/desk-2x/gamburger-desk-2x.jpg 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  ./images/favorites/tablet-1x/gamburger-tablet-1x.jpg 1x,
                  ./images/favorites/tablet-2x/gamburger-tablet-2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./images/favorites/mobile-1x/gamburger-mobile-1x.jpg 1x,
                  ./images/favorites/mobile-2x/gamburger-mobile-2x.jpg 2x
                "
                media="(max-width:767px)"
              />
              <img
                src="./images/favorites/desk-1x/gamburger-desk-1x.jpg"
                class="favorites__img"
              />
            </picture>
            <div class="favorites-hover">
              <h2 class="favorites-hover__title">Burger King-Size</h2>
              <div class="favorites-hover__other">
                <p class="favorites-hover__text">
                  Weight: 400g <br />Price: 210₴
                </p>
                <button class="favorites-hover__button">Add to cart</button>
                <svg class="favorites-hover__icon">
                  <use href="./images/sprite.svg#icon-cart"></use>
                </svg>
              </div>
            </div>
          </a>
        </div>
      </li>
      <li
        data-aos="fade-up"
        data-aos-delay="250"
        data-aos-duration="550"
        data-aos-once="true"
      >
        <div class="favorites__card">
          <a href="" class="favorites__link">
            <picture>
              <source
                srcset="
                  ./images/favorites/desk-1x/pasta-desk-1x.jpg 1x,
                  ./images/favorites/desk-2x/pasta-desk-2x.jpg 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  ./images/favorites/tablet-1x/pasta-tablet-1x.jpg 1x,
                  ./images/favorites/tablet-2x/pasta-tablet-2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./images/favorites/mobile-1x/pasta-mobile-1x.jpg 1x,
                  ./images/favorites/mobile-2x/pasta-mobile-2x.jpg 2x
                "
                media="(max-width:767px)"
              />
              <img
                class="favorites__img"
                src="./images/favorites/desk-1x/pasta-desk-1x.jpg"
                alt="food"
              />
            </picture>
            <div class="favorites-hover">
              <h2 class="favorites-hover__title">Pasta al pomodoro</h2>
              <div class="favorites-hover__other">
                <p class="favorites-hover__text">
                  Weight: 280g <br />Price: 220₴
                </p>
                <button class="favorites-hover__button">Add to cart</button>
                <svg class="favorites-hover__icon">
                  <use href="./images/sprite.svg#icon-cart"></use>
                </svg>
              </div>
            </div>
          </a>
        </div>
      </li>
      <li
        data-aos="fade-up"
        data-aos-delay="250"
        data-aos-duration="550"
        data-aos-once="true"
      >
        <div class="favorites__card">
          <a href="" class="favorites__link">
            <picture>
              <source
                srcset="
                  ./images/favorites/desk-1x/pizza-desk-1x.jpg 1x,
                  ./images/favorites/desk-2x/pizza-desk-2x.jpg 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  ./images/favorites/tablet-1x/pizza-tablet-1x.jpg 1x,
                  ./images/favorites/tablet-2x/pizza-tablet-2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./images/favorites/mobile-1x/pizza-mobile-1x.jpg 1x,
                  ./images/favorites/mobile-2x/pizza-mobile-2x.jpg 2x
                "
                media="(max-width:767px)"
              />
              <img
                class="favorites__img"
                src="./images/favorites/desk-1x/pizza-desk-1x.jpg"
                alt="food"
              />
            </picture>
            <div class="favorites-hover">
              <h2 class="favorites-hover__title">Pizza Capricciosa</h2>
              <div class="favorites-hover__other">
                <p class="favorites-hover__text">
                  Weight: 360g <br />Price: 249₴
                </p>
                <button class="favorites-hover__button">Add to cart</button>
                <svg class="favorites-hover__icon">
                  <use href="./images/sprite.svg#icon-cart"></use>
                </svg>
              </div>
            </div>
          </a>
        </div>
      </li>
      <li
        data-aos="fade-up"
        data-aos-delay="250"
        data-aos-duration="550"
        data-aos-once="true"
      >
        <div class="favorites__card">
          <a href="" class="favorites__link favorites__link-hidden">
            <picture>
              <source
                srcset="
                  ./images/favorites/desk-1x/chicken-desk-1x.jpg 1x,
                  ./images/favorites/desk-2x/chicken-desk-2x.jpg 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  ./images/favorites/tablet-1x/chicken-tablet-1x.jpg 1x,
                  ./images/favorites/tablet-2x/chicken-tablet-2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <img
                class="favorites__img"
                src="./images/favorites/desk-1x/chicken-desk-1x.jpg"
                alt="food"
              />
            </picture>
            <div class="favorites-hover">
              <h2 class="favorites-hover__title">Chicken with rice</h2>
              <div class="favorites-hover__other">
                <p class="favorites-hover__text">
                  Weight: 400g <br />Price: 199₴
                </p>
                <button class="favorites-hover__button">Add to cart</button>
                <svg class="favorites-hover__icon">
                  <use href="./images/sprite.svg#icon-cart"></use>
                </svg>
              </div>
            </div>
          </a>
        </div>
      </li>
      <li
        data-aos="fade-up"
        data-aos-delay="250"
        data-aos-duration="550"
        data-aos-once="true"
      >
        <div class="favorites__card">
          <a href="" class="favorites__link favorites__link-hidden">
            <picture>
              <source
                srcset="
                  ./images/favorites/desk-1x/salat-desk-1x.jpg 1x,
                  ./images/favorites/desk-2x/salat-desk-2x.jpg 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  ./images/favorites/tablet-1x/salat-tablet-1x.jpg 1x,
                  ./images/favorites/tablet-2x/salat-tablet-2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <img
                class="favorites__img"
                src="./images/favorites/desk-1x/salat-desk-1x.jpg"
                alt="food"
              />
            </picture>
            <div class="favorites-hover">
              <h2 class="favorites-hover__title">Salat with salmon</h2>
              <div class="favorites-hover__other">
                <p class="favorites-hover__text">
                  Weight: 300g <br />Price: 249₴
                </p>
                <button class="favorites-hover__button">Add to cart</button>
                <svg class="favorites-hover__icon">
                  <use href="./images/sprite.svg#icon-cart"></use>
                </svg>
              </div>
            </div>
          </a>
        </div>
      </li>
      <li
        data-aos="fade-up"
        data-aos-delay="250"
        data-aos-duration="550"
        data-aos-once="true"
      >
        <div class="favorites__card">
          <a href="" class="favorites__link favorites__link-hidden">
            <picture>
              <source
                srcset="
                  ./images/favorites/desk-1x/borshch-desk-1x.jpg 1x,
                  ./images/favorites/desk-2x/borshch-desk-2x.jpg 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  ./images/favorites/tablet-1x/borshch-tablet-1x.jpg 1x,
                  ./images/favorites/tablet-2x/borshch-tablet-2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <img
                class="favorites__img"
                src="./images/favorites/desk-1x/borshch-desk-1x.jpg"
                alt="food"
              />
            </picture>
            <div class="favorites-hover">
              <h2 class="favorites-hover__title">Ukrainian Borshch</h2>
              <div class="favorites-hover__other">
                <p class="favorites-hover__text">
                  Weight: 300g <br />Price: 159₴
                </p>
                <button class="favorites-hover__button">Add to cart</button>
                <svg class="favorites-hover__icon">
                  <use href="./images/sprite.svg#icon-cart"></use>
                </svg>
              </div>
            </div>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
