<section id="favorites" class="sections-three">
  <div class="container">
    <h2 class="favorites-title">Some of Our Favorites</h2>
    <p class="favorites-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit
    </p>
    <ul class="favorites">
      <li>
        <a href="#" class="favorites__link">
          <picture>
            <source
              srcset="
                ./images/favorites/desk-1x/gamburger-desk-1x.jpg 1x,
                ./images/favorites/desk-2x/gamburger-desk-2x.jpg 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/favorites/tablet-1x/gamburger-tablet-1x.jpg 1x,
                ./images/favorites/tablet-2x/gamburger-tablet-2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/favorites/mobile-1x/gamburger-mobile-1x.jpg 1x,
                ./images/favorites/mobile-2x/gamburger-mobile-2x.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img
              src="./images/favorites/desk-1x/gamburger-desk-1x.jpg"
              class="favorites__img"
            />
          </picture>
        </a>
      </li>
      <li>
        <a href="#" class="favorites__link">
          <picture>
            <source
              srcset="
                ./images/favorites/desk-1x/pasta-desk-1x.jpg 1x,
                ./images/favorites/desk-2x/pasta-desk-2x.jpg 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/favorites/tablet-1x/pasta-tablet-1x.jpg 1x,
                ./images/favorites/tablet-2x/pasta-tablet-2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/favorites/mobile-1x/pasta-mobile-1x.jpg 1x,
                ./images/favorites/mobile-2x/pasta-mobile-2x.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="favorites__img"
              src="./images/favorites/desk-1x/pasta-desk-1x.jpg"
              alt="food"
            />
          </picture>
        </a>
      </li>
      <li>
        <a href="#" class="favorites__link">
          <picture>
            <source
              srcset="
                ./images/favorites/desk-1x/pizza-desk-1x.jpg 1x,
                ./images/favorites/desk-2x/pizza-desk-2x.jpg 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/favorites/tablet-1x/pizza-tablet-1x.jpg 1x,
                ./images/favorites/tablet-2x/pizza-tablet-2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/favorites/mobile-1x/pizza-mobile-1x.jpg 1x,
                ./images/favorites/mobile-2x/pizza-mobile-2x.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="favorites__img"
              src="./images/favorites/desk-1x/pizza-desk-1x.jpg"
              alt="food"
            />
          </picture>
        </a>
      </li>
      <li>
        <a href="#" class="favorites__link">
          <picture>
            <source
              srcset="
                ./images/favorites/desk-1x/chicken-desk-1x.jpg 1x,
                ./images/favorites/desk-2x/chicken-desk-2x.jpg 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/favorites/tablet-1x/chicken-tablet-1x.jpg 1x,
                ./images/favorites/tablet-2x/chicken-tablet-2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <img
              class="favorites__img favorites__img-hidden"
              src="./images/favorites/desk-1x/chicken-desk-1x.jpg"
              alt="food"
            />
          </picture>
        </a>
      </li>
      <li>
        <a href="#" class="favorites__link">
          <picture>
            <source
              srcset="
                ./images/favorites/desk-1x/salat-desk-1x.jpg 1x,
                ./images/favorites/desk-2x/salat-desk-2x.jpg 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/favorites/tablet-1x/salat-tablet-1x.jpg 1x,
                ./images/favorites/tablet-2x/salat-tablet-2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <img
              class="favorites__img favorites__img-hidden"
              src="./images/favorites/desk-1x/salat-desk-1x.jpg"
              alt="food"
            />
          </picture>
        </a>
      </li>
      <li>
        <a href="#" class="favorites__link">
          <picture>
            <source
              srcset="
                ./images/favorites/desk-1x/borshch-desk-1x.jpg 1x,
                ./images/favorites/desk-2x/borshch-desk-2x.jpg 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/favorites/tablet-1x/borshch-tablet-1x.jpg 1x,
                ./images/favorites/tablet-2x/borshch-tablet-2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <img
              class="favorites__img favorites__img-hidden"
              src="./images/favorites/desk-1x/borshch-desk-1x.jpg"
              alt="food"
            />
          </picture>
        </a>
      </li>
    </ul>
  </div>
</section>
