<footer
  class="footer"
  data-aos="fade-up"
  data-aos-delay="350"
  data-aos-duration="750"
  data-aos-once="true"
>
  <div class="container">
    <div class="logo__contain">
      <div class="footer__wrap">
        <div>
          <a href="./index.html" class="logo__link">
            <svg class="logo__icon" width="66" height="52">
              <use href="./images/sprite.svg#icon-logo"></use>
            </svg>
          </a>
        </div>
        <div class="footer__wrap--calc">
          <ul class="list">
            <li class="list__link">
              <a class="list__item" href="#home">Home</a>
            </li>
            <li class="list__link">
              <a class="list__item" href="#offerings">Offerings</a>
            </li>
            <li class="list__link">
              <a class="list__item" href="#favorites">Favorites</a>
            </li>
            <li class="list__link">
              <a class="list__item" href="#customers">Customers Say</a>
            </li>
            <li class="list__link">
              <a class="list__item" href="#subscribe">Subscribe</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__subscribe">
        <p class="footer__subscribe--text">Subscribe</p>
        <form>
          <input
            class="footer__subscribe--input"
            type="email"
            name="email"
            placeholder="Enter your email"
            required
          />

          <button
            class="footer__subscribe--btn"
            type="submit"
            width="103"
            height="42"
          >
            Subscribe
          </button>
          <p class="footer__subscribe--title">
            By subscribing you agree to with our
            <span class="footer__subscribe--item">Privacy Policy</span>
          </p>
        </form>
      </div>
    </div>

    <div class="footer__link">
      <ul class="footer__link--text">
        <li class="footer__link--item">
          <a href="#" class="footer__link--title">Privacy Policy</a>
        </li>
        <li class="footer__link--item">
          <a href="#" class="footer__link--title">Terms of Service</a>
        </li>
        <li class="footer__link--item">
          <a href="#" class="footer__link--title">Cookies Settings</a>
        </li>
      </ul>
      <p class="footer__link--coment">2022 FoodSta. All right reserved.</p>
    </div>

    <!----------------------------------------------------TEAM--------------------------------------------------------------------->
    <div class="team">
      <div>
        <a class="team__link" data-team-open>Team</a>
      </div>
    </div>
  </div>
</footer>
