<footer class="footer">
    <div class="container">
        <div class="logo__contain">
            <div class="footer__wrap">
                <div>
       <a href="./index.html" class="logo__link" >
           <svg class="logo__icon" width="66" height="52">
           <use href="./images/sprite.svg#icon-logo"></use>
           </svg>
       </a>
                </div>
                <div class="footer__wrap--calc">
       <ul class="list">
          <li class="list__link"><a class="list__item" href="#home">Home</a></li>
          <li class="list__link"><a class="list__item" href="#offerings">Offerings</a></li>
          <li class="list__link"><a class="list__item" href="#favorites">Favorites</a></li>
          <li class="list__link"><a class="list__item" href="#customers">Customers Say</a></li>
          <li class="list__link"><a class="list__item" href="#subscribe">Subscribe</a></li>
       </ul>
            </div>
            </div>
       <div class="footer__subscribe">
           <p class="footer__subscribe--text">Subscribe</p>
        <form>
           <input class="footer__subscribe--input" type="email" name="email" placeholder="Enter your email">
           
           <button class="footer__subscribe--btn" type="button" width="103" height="42">Subscribe</button>
           <p class="footer__subscribe--title">By subscribing you agree to with our <span class="footer__subscribe--item">Privacy Policy</span></p>
        </form>
       </div>
       
       </div>
    
        <div class="footer__link">
       <ul class="footer__link--text">
           <li class="footer__link--item"><a href="#" class="footer__link--title">Privacy Policy</a></li>
           <li class="footer__link--item"><a href="#" class="footer__link--title">Terms of Service</a></li>
           <li class="footer__link--item"><a href="#" class="footer__link--title">Cookies Settings</a></li>
       </ul>
       <p class="footer__link--coment">2022 FoodSta. All right reserved.</p>
        </div>

        <div class="team">
            <div>
                <button class="team__btn" type="button" data-team-open>Team</button>
            </div>
        
            <div class="team__backdrop is-hidden" data-team>
                <div class="team__modal">
                    <button type="button" class="team__btn-x" data-team-close>
                        <svg width="24" height="24">
                            <use href="./images/sprite.svg#close" aria-label="Перемикач мобільного меню"></use>
                        </svg>
                    </button>

  <!----------------------------------------------------TEAM--------------------------------------------------------------------->  

                    <div>
                        <ul class="team__list">
                            <li class="team__set">
                                <div class="team__thumb">
                                    <img src="./images/team/bunny.jpg" width="100" alt="">
                                </div>
                                <h2 class="team__title">Varvara</h2>
                                <p class="team__name">Team lead</p>
                                <p class="team__paragraph"></p>
                            </li>
        
                            <li class="team__set">
                                <div class="team__thumb">
                                    <img src="./images/team/Markiyan Levitskiy.jpg" width="100" alt="">
                                </div>
                                <h2 class="team__title">Markiyan Levitskiy</h2>
                                <p class="team__name">Scrum master</p>
                                <p class="team__paragraph">Create Favorites sections</p>
                            </li>
        
                            <li class="team__set">
                                <div class="team__thumb">
                                    <img src="./images/team/Viktoria Bezpalova.jpg" width="100" alt="">
                                </div>
                                <h2 class="team__title">Viktoria Bezpalova</h2>
                                <p class="team__name">Full Stack Developer</p>
                                <p class="team__paragraph">Create this modal with animations for button "team" and create modal with form for button "Order now"
                                </p>
                            </li>
        
                            <li class="team__set">
                                <div class="team__thumb">
                                    <img src="./images/team/Diana Kazak.jpg" width="100" alt="">
                                </div>
                                <h2 class="team__title">Diana Kazak</h2>
                                <p class="team__name">Full Stack Developer</p>
                                <p class="team__paragraph">Created a "subscribe" section</p>
                            </li>
        
                            <li class="team__set">
                                <div class="team__thumb">
                                    <img src="./images/team/Bohdan Khomych.jpg" width="100" alt="">
                                </div>
                                <h2 class="team__title">Bohdan Khomych</h2>
                                <p class="team__name">Full Stack Developer</p>
                                <p class="team__paragraph">Created the slider and animations for header, hero and order buttons</p>
                            </li>
        
                            <li class="team__set">
                                <div class="team__thumb">
                                    <img src="./images/team/bunny.jpg" width="100" alt="">
                                </div>
                                <h2 class="team__title">Mariia Chernokulska</h2>
                                <p class="team__name">Full Stack Developer</p>
                                <p class="team__paragraph">Create button "Burger-menu"</p>
                            </li>
        
                            <li class="team__set">
                                <div class="team__thumb">
                                    <img src="./images/team/bunny.jpg" width="100" alt="">
                                </div>
                                <h2 class="team__title">Mariia Chernokulska</h2>
                                <p class="team__name">Full Stack Developer</p>
                                <p class="team__paragraph">Create button "Burger-menu"</p>
                            </li>
        
                            <li class="team__set">
                                <div class="team__thumb">
                                    <img src="./images/team/bunny.jpg" width="100" alt="">
                                </div>
                                <h2 class="team__title">Mariia Chernokulska</h2>
                                <p class="team__name">Full Stack Developer</p>
                                <p class="team__paragraph">Create button "Burger-menu"</p>
                            </li>
        
                            <li class="team__set">
                                <div class="team__thumb">
                                    <img src="./images/team/bunny.jpg" width="100" alt="">
                                </div>
                                <h2 class="team__title">Mariia Chernokulska</h2>
                                <p class="team__name">Full Stack Developer</p>
                                <p class="team__paragraph">Create button "Burger-menu"</p>
                            </li>
        
                            <li class="team__set">
                                <div class="team__thumb">
                                    <img src="./images/team/bunny.jpg" width="100" alt="">
                                </div>
                                <h2 class="team__title">Mariia Chernokulska</h2>
                                <p class="team__name">Full Stack Developer</p>
                                <p class="team__paragraph">Create button "Burger-menu"</p>
                            </li>
        
                            <li class="team__set">
                                <div class="team__thumb">
                                    <img src="./images/team/bunny.jpg" width="100" alt="">
                                </div>
                                <h2 class="team__title">Mariia Chernokulska</h2>
                                <p class="team__name">Full Stack Developer</p>
                                <p class="team__paragraph">Create button "Burger-menu"</p>
                            </li>
        
                            <li class="team__set">
                                <div class="team__thumb">
                                    <img src="./images/team/bunny.jpg" width="100" alt="">
                                </div>
                                <h2 class="team__title">Mariia Chernokulska</h2>
                                <p class="team__name">Full Stack Developer</p>
                                <p class="team__paragraph">Create button "Burger-menu"</p>
                            </li>
                        </ul>
        
                    </div>
        
                </div>
            </div>
        </div>


        
    </div>
    
   </footer>