<header class="header" data-aos="fade-down">
  <div class="container">
    <a href="./index.html" class="logo">
      <svg class="logo__icon" width="66" height="52">
        <use href="./images/sprite.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="nav">
      <!-- Burger button -->

      <button
        type="button"
        class="menu-toggle js-open-menu menu-burger"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg width="28" height="28" aria-label="Перемикач мобільного меню">
          <use class="icon-menu" href="./images/sprite.svg#open-menu"></use>
        </svg>
      </button>
      <ul class="site-nav">
        <li class="site-nav__item">
          <a href="#home" class="site-nav__link">Home</a>
        </li>
        <li class="site-nav__item">
          <a href="#offerings" class="site-nav__link">Offerings</a>
        </li>
        <li class="site-nav__item">
          <a href="#favorites" class="site-nav__link">Favorites</a>
        </li>
        <li class="site-nav__item">
          <a href="#customers" class="site-nav__link">Customers Say</a>
        </li>
        <li class="site-nav__item">
          <a href="#subscribe" class="site-nav__link">Subscribe</a>
        </li>
      </ul>
      <!-----------------------------кнопка Order-now------------------------------------------------->
      <div class="order">
        <div>
          <button
            class="order__button order_button-header"
            type="button"
            data-menu-open
          >
            Order Now
          </button>
        </div>

        <div class="order__backdrop is-hidden" data-menu>
          <div class="order__modal">
            <button type="button" class="order__btn-x" data-menu-close>
              <svg width="24" height="24">
                <use
                  href="./images/sprite.svg#close"
                  aria-label="Перемикач мобільного меню"
                ></use>
              </svg>
            </button>
            <h2 class="order__title">Order</h2>
            <form class="order__form">
<!-----------------------------------------------------------START foto into form------------------------------------------->
              <div class="order__list">
    
                <label class="order__set">
                  <input type="checkbox" name="menu" value="borshch" checked />
                  Borshch
                    <div class="order__thumb">
                      <img src="./images/slide-1-desk.png" alt="">
                    </div>
                </label>

                <label class="order__set">
                  <input type="checkbox" name="menu" value="chicken"/>
                  Chicken
                  <div class="order__thumb">
                    <img src="./images/slide-2-desk.png" alt="">
                  </div>
                </label>

                <label class="order__set">
                  <input type="checkbox" name="menu" value="gamburger" />
                  Gamburger
                  <div class="order__thumb">
                    <img src="./images/slide-3-desk.png" alt="">
                  </div>
                </label>

                <label class="order__set">
                  <input type="checkbox" name="menu" value="pasta"/>
                  Pasta
                  <div class="order__thumb">
                    <img src="./images/slide-1-desk.png" alt="">
                  </div>
                </label>

                <label class="order__set">
                  <input type="checkbox" name="menu" value="pizza"/>
                  Pizza
                  <div class="order__thumb">
                    <img src="./images/slide-2-desk.png" alt="">

                  </div>
                </label>

                <label class="order__set">
                  <input type="checkbox" name="menu" value="salat" />
                  Salat
                  <div class="order__thumb">
                    <img src="./images/slide-3-desk.png" alt="">
                  </div>
                </label>

<!-----------------------------------------------------------END foto into form------------------------------------------->

              </div>
              <label class="order__form-set">
                <p class="order__form-name">Name</p>
                <input
                  class="order__input"
                  type="text"
                  name="Name"
                  placeholder="Your name"
                  required
                  autofocus
                />
              </label>
              <label class="order__form-set">
                <p class="order__form-name">Phone number</p>
                <input
                  class="order__input"
                  type="tel"
                  name="Phone_number"
                  placeholder="+38(0_ _) _ _ _   _ _   _ _"
                  required
                />
              </label>
              <label class="order__form-set">
                <p class="order__form-name">E-mail</p>
                <input
                  class="order__input"
                  type="email"
                  name="E-mail"
                  placeholder="example@gmail.com"
                  required
                />
              </label>
              <button type="submit" class="order__btn-send">Send</button>
            </form>
          </div>
        </div
      </div>
    </nav>
  </div>
</header>

<!-- Script -->
<script defer src="./index.js"></script>
