<div class="hero">
  <div class="container">
    <div class="hero__wrap">
      <h1 class="hero__major-title">Enjoy Your Favorite Food From Anywhere</h1>
      <div class="hero__content">
        <p class="hero__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra
          ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
        </p>
        <!--<button class="hero__button"type="button">Order Now</button>-->
        <div class="order">
          <div>
            <button
              class="order__button order_button-hero"
              type="button"
              data-menu-hero-open
            >
              Order Now
            </button>
          </div>

          <div class="order__backdrop is-hidden" data-menu-hero>
            <div class="order__modal">
              <button type="button" class="order__btn-x" data-menu-hero-close>
                <svg width="24" height="24">
                  <use
                    href="./images/sprite.svg#close"
                    aria-label="Перемикач мобільного меню"
                  ></use>
                </svg>
              </button>
              <h2 class="order__title">Order Form</h2>
              <form class="order__form">
                <label class="order__form-set">
                  <p class="order__form-name">Name</p>
                  <input
                    class="order__input"
                    type="text"
                    name="Name"
                    placeholder="Your name"
                    required
                    autofocus
                  />
                </label>
                <label class="order__form-set">
                  <p class="order__form-name">Phone number</p>
                  <input
                    class="order__input"
                    type="tel"
                    name="Phone_number"
                    placeholder="+38(0_ _) _ _ _   _ _   _ _"
                    required
                  />
                </label>
                <label class="order__form-set">
                  <p class="order__form-name">E-mail</p>
                  <input
                    class="order__input"
                    type="email"
                    name="E-mail"
                    placeholder="example@gmail.com"
                    required
                  />
                </label>
                <button type="submit" class="order__btn-send">Send</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="slider hero__slider">
        <picture>
          <source
            srcset="
              ./images/slide-1-desk.png    1x,
              ./images/slide-1-desk@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="./images/slide-1-tab.png 1x, ./images/slide-1-tab@2x.png 2x"
            media="(min-width: 768px)"
          />

          <img src="./images/slide-1-desk.png" alt="Dish 1" />
        </picture>

        <picture>
          <source
            srcset="
              ./images/slide-2-desk.png    1x,
              ./images/slide-2-desk@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="./images/slide-2-tab.png 1x, ./images/slide-2-tab@2x.png 2x"
            media="(min-width: 768px)"
          />
          <img src="./images/slide-2-desk.png" alt="Dish 2" />
        </picture>

        <picture>
          <source
            srcset="
              ./images/slide-3-desk.png    1x,
              ./images/slide-3-desk@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="./images/slide-3-tab.png 1x, ./images/slide-3-tab@2x.png 2x"
            media="(min-width: 768px)"
          />
          <img src="./images/slide-3-desk.png" alt="Dish 3" />
        </picture>
      </div>

      <button
        class="slick-prev slick-arrow"
        type="button"
        onclick="this.blur();"
      >
        <svg class="slick-icon">
          <use href="./images/sprite.svg#icon-arrow-l"></use>
        </svg>
      </button>
      <button
        class="slick-next slick-arrow"
        type="button"
        onclick="this.blur();"
      >
        <svg class="slick-icon">
          <use href="./images/sprite.svg#icon-arrow-r"></use>
        </svg>
      </button>
    </div>
    <div class="hero__wrap-img">
      <img class="hero__mobile-pic" src="./images/Apple.png" />
      <img class="hero__tablet-pic" src="./images/herotabletbcg.png" />
    </div>
  </div>
</div>
