<div class="hero">
    <div class="container"> 
        <h1 class="hero__major-title">Enjoy Your Favorite Food From Anywhere</h1>
        <div class="hero__wrap">
          
            <div class="hero__content">
                
                <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
                <button class="hero__button"type="button">Order Now</button>
            </div>
            <div class="slaider">
                <img src="./images/Apple.png">
            </div>
        </div>
        <div class="hero__wrap-img">
            <img class="hero__mobile-pic" src="./images/Apple.png">
            <img class="hero__tablet-pic" src="./images/herotabletbcg.png">
        </div>
    </div>
</div>