<section
  id="offerings"
  class="offerings"
  data-aos="fade-up"
  data-aos-duration="550"
  data-aos-delay="600"
  data-aos-once="true"
>
  <div class="offerings-cover">
    <div class="offerings-images">
      <img
        class="offerings__desctopImg"
        srcset="./images/appleD1x.png 1x, ./images/appleD2x.png 2x"
        media="(min-width:1280px)"
        src="./images/appleD1x.png"
        alt="Apple"
        width="550"
        loading="lazy"
      />
      <img
        class="offerings__tabletImg"
        srcset="./images/appleT1x.png 1x, ./images/appleT2x.png 2x"
        media="(min-width:768px)"
        src="./images/appleT1x.png"
        alt="Thre apples"
        width="704"
        loading="lazy"
      />
      <img
        class="offerings__mobileImg"
        srcset="./images/appleM1x.png 1x, ./images/appleM2x.png 2x"
        media="(max-width:767px)"
        src="./images/appleM1x.png"
        alt="Apple"
        width="280"
        loading="lazy"
      />
    </div>
    <div class="offerings-content">
      <div class="offerings-special">
        <h2 class="offerings-special__title">
          What’s Special About Our Offerings
        </h2>
        <p class="offerings-special__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra
          ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
        </p>
      </div>
      <div class="offerings-secondaryCover">
        <div class="offerings-deliver">
          <div class="offerings-deliver__circle">
            <svg class="offerings-deliver__svg" width="32" height="32">
              <use href="./images/sprite.svg#icon-rocket"></use>
            </svg>
          </div>
          <h3 class="offerings-deliver__title">Fasest Delivery</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </div>
        <div class="offerings-order">
          <div class="offerings-order__circle">
            <svg class="offerings-order__svg" width="32" height="32">
              <use href="./images/sprite.svg#icon-click"></use>
            </svg>
          </div>
          <h3 class="offerings-order__title">Easy To Order</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </div>
      </div>
      <!-- Button -->
      <div class="offerings-btns">
        <div class="order">
          <button
            class="order__button order__button-offerings"
            type="button"
            data-menu-offerings-open
          >
            Order Now
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
