<div class="slider">
  <picture>
    <source
      srcset="./images/slide-1-desk.png 1x, ./images/slide-1-desk@2x.png 2x"
      media="(min-width: 1280px)"
    />
    <source
      srcset="./images/slide-1-tab.png 1x, ./images/slide-1-tab@2x.png 2x"
      media="(min-width: 768px)"
    />

    <img src="./images/slide-1-desk.png" alt="Dish 1" />
  </picture>

  <picture>
    <source
      srcset="./images/slide-2-desk.png 1x, ./images/slide-2-desk@2x.png 2x"
      media="(min-width: 1280px)"
    />
    <source
      srcset="./images/slide-2-tab.png 1x, ./images/slide-2-tab@2x.png 2x"
      media="(min-width: 768px)"
    />
    <img src="./images/slide-2-desk.png" alt="Dish 2" />
  </picture>

  <picture>
    <source
      srcset="./images/slide-3-desk.png 1x, ./images/slide-3-desk@2x.png 2x"
      media="(min-width: 1280px)"
    />
    <source
      srcset="./images/slide-3-tab.png 1x, ./images/slide-3-tab@2x.png 2x"
      media="(min-width: 768px)"
    />
    <img src="./images/slide-3-desk.png" alt="Dish 3" />
  </picture>
</div>
