<section id="subscribe" class="subscribe">
  <div class="container">
    <div
      class="subscribe-div1"
      data-aos="fade-down-right"
      data-aos-duration="550"
      data-aos-once="true"
    >
      <img
        class="subscribe-desctopImg"
        srcset="
          /src/images/subscribe/bananaD1x.png 1x,
          /src/images/subscribe/bananaD2x.png 2x
        "
        media="(min-width:1280px)"
        src="/src/images/subscribe/bananaD1x.png"
        alt="banana"
        width="546"
        loading="lazy"
      />
      <img
        class="subscribe-tabletImg"
        srcset="
          /src/images/subscribe/bananaT1x.png 1x,
          /src/images/subscribe/bananaT2x.png 2x
        "
        media="(min-width:768px)"
        src="/src/images/subscribe/bananaT1x.png"
        alt="banana"
        width="281"
        loading="lazy"
      />
      <img
        class="subscribe-mobileImg"
        srcset="
          /src/images/subscribe/bananaM1x.png 1x,
          /src/images/subscribe/bananaM2x.png 2x
        "
        media="(max-width:767px)"
        src="/src/images/subscribe/bananaM1x.png"
        alt="banana"
        width="161"
        loading="lazy"
      />
    </div>
    <div
      class="subscribe-div2"
      data-aos="fade-down-right"
      data-aos-delay="250"
      data-aos-duration="550"
      data-aos-once="true"
    >
      <h2>Subscribe To Get Special Offers</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique.
      </p>
      <form class="subscribe-form">
        <input
          type="email"
          name="email"
          class="subscribe-input"
          placeholder="Enter your email"
          required
        />
        <button type="submit" class="subscribe-btn">Subscribe</button>
      </form>
    </div>
  </div>
</section>
