<section id="subscribe" class="subscribe">
    <div class="container">
        <div class="subscribe-div1">
        </div>
        <div class="subscribe-div2">
            <h2>Subscribe To Get Special Offers</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum
                tristique.
            </p>
            <form class="subscribe-form">
                <input type="email" name="email" class="subscribe-input" placeholder="Enter your email">
                <button type="submit" class="subscribe-btn"> Subscribe </button>
            </form>
        </div>
    </div>
</section>