<div class="team">
    <div>
        <button class="team__btn" type="button" data-team-open>Team</button>
    </div>

    <div class="team__backdrop is-hidden" data-team>
        <div class="team__modal">
            <button type="button" class="team__btn-x" data-team-close>
                <svg width="24" height="24">
                    <use href="./images/sprite.svg#close" aria-label="Перемикач мобільного меню"></use>
                </svg>
            </button>

            <div>
                <ul class="team__list">
                    <li class="team__set">
                        <div class="team__thumb">
                            <img src="./images//team/1.png" width="100" alt="">
                        </div>
                        <h2 class="team__title">Varvara</h2>
                        <p class="team__name">Team lead</p>
                        <p class="team__paragraph"></p>
                    </li>
                    <li class="team__set">
                        <div class="team__thumb">
                            <img src="./images/team/Viktoria Bezpalova.jpg" width="100" alt="">
                        </div>
                        <h2 class="team__title">Viktoria Bezpalova</h2>
                        <p class="team__name">Full Stack Developer</p>
                        <p class="team__paragraph">Create this modal and create modal with form for button "Order now"
                            <!--<br> (Створила це модальне вікно, а також модальне вікно з формою для кнопки "Order now"-->
                        </p>
                    </li>
                    <li class="team__set">
                        <div class="team__thumb">
                            <img src="./images/team/1.png" width="100" alt="">
                        </div>
                        <h2 class="team__title">Mariia Chernokulska</h2>
                        <p class="team__name">Full Stack Developer</p>
                        <p class="team__paragraph">Create Header</p>
                    </li>

                    <li class="team__set">
                        <div class="team__thumb">
                            <img src="./images/team/1.png" width="100" alt="">
                        </div>
                        <h2 class="team__title">Mariia Chernokulska</h2>
                        <p class="team__name">Full Stack Developer</p>
                        <p class="team__paragraph">Create button "Burger-menu"</p>
                    </li>

                    <li class="team__set">
                        <div class="team__thumb">
                            <img src="./images/team/1.png" width="100" alt="">
                        </div>
                        <h2 class="team__title">Mariia Chernokulska</h2>
                        <p class="team__name">Full Stack Developer</p>
                        <p class="team__paragraph">Create button "Burger-menu"</p>
                    </li>

                    <li class="team__set">
                        <div class="team__thumb">
                            <img src="./images/team/1.png" width="100" alt="">
                        </div>
                        <h2 class="team__title">Mariia Chernokulska</h2>
                        <p class="team__name">Full Stack Developer</p>
                        <p class="team__paragraph">Create button "Burger-menu"</p>
                    </li>

                    <li class="team__set">
                        <div class="team__thumb">
                            <img src="./images/team/1.png" width="100" alt="">
                        </div>
                        <h2 class="team__title">Mariia Chernokulska</h2>
                        <p class="team__name">Full Stack Developer</p>
                        <p class="team__paragraph">Create button "Burger-menu"</p>
                    </li>

                    <li class="team__set">
                        <div class="team__thumb">
                            <img src="./images/team/1.png" width="100" alt="">
                        </div>
                        <h2 class="team__title">Mariia Chernokulska</h2>
                        <p class="team__name">Full Stack Developer</p>
                        <p class="team__paragraph">Create button "Burger-menu"</p>
                    </li>

                    <li class="team__set">
                        <div class="team__thumb">
                            <img src="./images/team/1.png" width="100" alt="">
                        </div>
                        <h2 class="team__title">Mariia Chernokulska</h2>
                        <p class="team__name">Full Stack Developer</p>
                        <p class="team__paragraph">Create button "Burger-menu"</p>
                    </li>

                    <li class="team__set">
                        <div class="team__thumb">
                            <img src="./images/team/1.png" width="100" alt="">
                        </div>
                        <h2 class="team__title">Mariia Chernokulska</h2>
                        <p class="team__name">Full Stack Developer</p>
                        <p class="team__paragraph">Create button "Burger-menu"</p>
                    </li>

                    <li class="team__set">
                        <div class="team__thumb">
                            <img src="./images/team/1.png" width="100" alt="">
                        </div>
                        <h2 class="team__title">Mariia Chernokulska</h2>
                        <p class="team__name">Full Stack Developer</p>
                        <p class="team__paragraph">Create button "Burger-menu"</p>
                    </li>

                    <li class="team__set">
                        <div class="team__thumb">
                            <img src="./images/team/1.png" width="100" alt="">
                        </div>
                        <h2 class="team__title">Mariia Chernokulska</h2>
                        <p class="team__name">Full Stack Developer</p>
                        <p class="team__paragraph">Create button "Burger-menu"</p>
                    </li>
                </ul>

            </div>

        </div>
    </div>
</div>