<div class="team">
  <div class="team__backdrop is-hidden" data-team>
    <div class="team__modal">
      <button type="button" class="team__btn-x" data-team-close>
        <svg width="24" height="24">
          <use
            href="./images/sprite.svg#close"
            aria-label="Перемикач мобільного меню"
          ></use>
        </svg>
      </button>

      <div>
        <ul class="team__list">
          <li class="team__set">
            <div class="team__thumb">
              <img
                src="./images/team/varvara.jpeg"
                width="100"
                alt="Varvara Babych"
                loading="lazy"
              />
            </div>
            <h2 class="team__title">
              Varvara <span class="team__title-span">Babych</span>
            </h2>
            <p class="team__name">Team lead</p>
            <p class="team__paragraph"></p>
            <a
              href="https://github.com/Riatte"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="team__gh" width="30" height="30">
                <use href="./images/sprite.svg#icon-gh"></use>
              </svg>
            </a>
          </li>

          <li class="team__set">
            <div class="team__thumb">
              <img
                src="./images/team/markiyan.jpg"
                width="100"
                alt="Markiyan Levitskiy"
                loading="lazy"
              />
            </div>
            <h2 class="team__title">
              Markiyan <span class="team__title-span">Levitskiy</span>
            </h2>
            <p class="team__name">Scrum master</p>
            <p class="team__paragraph">Create favorites sections</p>
            <a
              href="https://github.com/Markiyan333"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="team__gh" width="32" height="32">
                <use href="./images/sprite.svg#icon-gh"></use>
              </svg>
            </a>
          </li>

          <li class="team__set">
            <div class="team__thumb">
              <img
                src="./images/team/viktoria.jpg"
                width="100"
                alt="Viktoria Bezpalova"
                loading="lazy"
              />
            </div>
            <h2 class="team__title">
              Viktoria <span class="team__title-span">Bezpalova</span>
            </h2>
            <p class="team__name">Full Stack Developer</p>
            <p class="team__paragraph">
              Create this team-modal with animations and create modal "Order
              now" with form and animations
            </p>
            <a
              href="https://github.com/Victoria257"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="team__gh" width="32" height="32">
                <use href="./images/sprite.svg#icon-gh"></use>
              </svg>
            </a>
          </li>

          <li class="team__set">
            <div class="team__thumb">
              <img
                src="./images/team/diana.jpg"
                width="100"
                alt="Diana Kazak"
                loading="lazy"
              />
            </div>
            <h2 class="team__title">
              Diana <span class="team__title-span">Kazak</span>
            </h2>
            <p class="team__name">Full Stack Developer</p>
            <p class="team__paragraph">Created a "subscribe" section</p>
            <a
              href="https://github.com/DianaKazak"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="team__gh" width="32" height="32">
                <use href="./images/sprite.svg#icon-gh"></use>
              </svg>
            </a>
          </li>

          <li class="team__set">
            <div class="team__thumb">
              <img
                src="./images/team/bohdan.jpg"
                width="100"
                alt="Bohdan Khomych"
                loading="lazy"
              />
            </div>
            <h2 class="team__title">
              Bohdan <span class="team__title-span">Khomych</span>
            </h2>
            <p class="team__name">Full Stack Developer</p>
            <p class="team__paragraph">
              Created the slider and animations for header, hero and order
              buttons
            </p>
            <a
              href="https://github.com/bkhomychh"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="team__gh" width="32" height="32">
                <use href="./images/sprite.svg#icon-gh"></use>
              </svg>
            </a>
          </li>

          <li class="team__set">
            <div class="team__thumb">
              <img
                src="./images/team/pavlo.jpg"
                width="100"
                alt="Pavlo Kutsaiev"
                loading="lazy"
              />
            </div>
            <h2 class="team__title">
              Pavlo <span class="team__title-span">Kutsaiev</span>
            </h2>
            <p class="team__name">Full Stack Developer</p>
            <p class="team__paragraph">Create menu-button with animation</p>
            <a
              href="https://github.com/KutsaevPavlo"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="team__gh" width="32" height="32">
                <use href="./images/sprite.svg#icon-gh"></use>
              </svg>
            </a>
          </li>

          <li class="team__set">
            <div class="team__thumb">
              <img
                src="./images/team/stanislav.jpg"
                width="100"
                alt="Stanislav Kopiievskyi"
                loading="lazy"
              />
            </div>
            <h2 class="team__title">
              Stanislav <span class="team__title-span">Kopiievskyi</span>
            </h2>
            <p class="team__name">Full Stack Developer</p>
            <p class="team__paragraph">
              Create default styles, mixins and custom JS animation.
            </p>
            <a
              href="https://github.com/lIlDirE"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="team__gh" width="32" height="32">
                <use href="./images/sprite.svg#icon-gh"></use>
              </svg>
            </a>
          </li>

          <li class="team__set">
            <div class="team__thumb">
              <img
                src="./images/team/anastasiia-d.jpg"
                width="100"
                alt="Anastasiia Doroshenko"
                loading="lazy"
              />
            </div>
            <h2 class="team__title">
              Anastasiia <span class="team__title-span">Doroshenko</span>
            </h2>
            <p class="team__name">Full Stack Developer</p>
            <p class="team__paragraph">Create section offerings</p>
            <a
              href="https://github.com/Anastasiia-Doroshenko"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="team__gh" width="32" height="32">
                <use href="./images/sprite.svg#icon-gh"></use>
              </svg>
            </a>
          </li>

          <li class="team__set">
            <div class="team__thumb">
              <img
                src="./images/team/mariia.jpg"
                width="100"
                alt="Mariia Chernokulska"
                loading="lazy"
              />
            </div>
            <h2 class="team__title">
              Mariia <span class="team__title-span">Chernokulska</span>
            </h2>
            <p class="team__name">Full Stack Developer</p>
            <p class="team__paragraph">Create header and button-up</p>
            <a
              href="https://github.com/MariiaChernokulska"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="team__gh" width="32" height="32">
                <use href="./images/sprite.svg#icon-gh"></use>
              </svg>
            </a>
          </li>

          <li class="team__set">
            <div class="team__thumb">
              <img
                src="./images/team/dmytro.jpg"
                width="100"
                alt="Dmytro Vyhovskyi"
                loading="lazy"
              />
            </div>
            <h2 class="team__title">
              Dmytro <span class="team__title-span">Vyhovskyi</span>
            </h2>
            <p class="team__name">Full Stack Developer</p>
            <p class="team__paragraph">Create footer</p>
            <a
              href=" https://github.com/DmytroVyhovskyi1997"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="team__gh" width="32" height="32">
                <use href="./images/sprite.svg#icon-gh"></use>
              </svg>
            </a>
          </li>

          <li class="team__set">
            <div class="team__thumb">
              <img
                src="./images/team/valeria.jpg"
                width="100"
                alt="Valeria Antonova"
                loading="lazy"
              />
            </div>
            <h2 class="team__title">
              Valeria <span class="team__title-span">Antonova</span>
            </h2>
            <p class="team__name">Full Stack Developer</p>
            <p class="team__paragraph">Create section customers Say</p>
            <a
              href=" https://github.com/saitriniel"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="team__gh" width="32" height="32">
                <use href="./images/sprite.svg#icon-gh"></use>
              </svg>
            </a>
          </li>

          <li class="team__set">
            <div class="team__thumb">
              <img
                src="./images/team/anastasiia.jpg"
                width="100"
                alt="Anastasiia Kandalintceva"
                loading="lazy"
              />
            </div>
            <h2 class="team__title">
              Anastasiia <span class="team__title-span">Kandalintceva</span>
            </h2>
            <p class="team__name">Full Stack Developer</p>
            <p class="team__paragraph">Create section hero</p>
            <a
              href="https://github.com/troonok"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="team__gh" width="32" height="32">
                <use href="./images/sprite.svg#icon-gh"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
